###CI4###

/public/.htaccess
/public/favicon.ico
/public/index.php
/public/robots.txt

/admin/
/build/
/system/
/tests/_support
/tests/system
/tests/.htaccess
/tests/README.md
/vendor/
/writable/

/app/index.html
/app/.htaccess

/app/Config/*
!/app/Config/Aauth.php

/app/Filters/Throttle.php
/app/Filters/Honeypot.php
/app/Filters/CSRF.php
/app/Filters/DebugToolbar.php

/app/Views/errors/
/app/Views/welcome_message.php

.env
composer.lock
spark

###OSX###

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes


###Windows###

Thumbs.db
ehthumbs.db
Desktop.ini
