###CI4###

public/.htaccess
public/favicon.ico
public/index.php
public/robots.txt

build/
system/
tests/_support
tests/system
tests/.htaccess
tests/README.md
vendor/
writable/

application/index.html
application/.htaccess

application/Config/
!application/Config/Aauth.php

application/Filters/Throttle.php
application/Filters/Honeypot.php
application/Filters/CSRF.php
application/Filters/DebugToolbar.php

application/Views/errors/
application/Views/welcome_message.php
application/Views/form.php

composer.lock
spark

###OSX###

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes


###Windows###

Thumbs.db
ehthumbs.db
Desktop.ini
