# Created by .gitignore support plugin (hsz.mobi)
.idea/

*
!./application/config/aauth.php
!./application/controllers/example.php
!./application/helpers/googleauthenticator_helper.php
!./application/helpers/recaptchalib_helper.php
!./application/language/english/aauth_lang.php
!./application/language/french/aauth_lang.php
!./application/language/spanish/aauth_lang.php
!./application/libraries/Aauth.php
!./LICENSE
!./README.md
!./sql/Aauth_v2.sql
!./sql/readme.txt
!./composer.json