body { color: #555; }

a { color: #06C; }

h1 { background: url(../example_files/logo.png) no-repeat 0 0; width: 120px; height: 120px; line-height: 600px; overflow: hidden; padding-bottom: 1.5em; margin: 0 auto 1.25em; }

h3 { font-size: 18px; font-weight: normal; color: #F90; margin-top: 1.5em; margin-bottom: 1em; }

#wrapper
{
	background: #FFF;
	width: 650px;
	padding: 40px 20px 20px;
	margin: 0 auto;
	border: 1px solid #999;
	border-top: none;
}

table
{
	margin-bottom: 1.7em;
}

table { width: 100%; border-collapse: collapse; border-left: 1px solid #DDD; border-top: 1px solid #DDD; }
th { background: #999; color: #FFF; text-align: left; padding: 7px; }
th, td { padding: 10px; border-right: 1px solid #DDD; border-bottom: 1px solid #DDD; }

p { margin-bottom: 1em; }

pre
{
	background: #EEE;
	font-size: 11px;
	border: 1px solid #DDD;
	border-left: 0;
	border-right: 0;
	padding: 10px;
	margin-bottom: 1.75em;
}

hr { border: none; border-bottom: 1px dotted #888; }


ol { margin-left: 28px; margin-bottom: 2em; }

h2 { font-size: 24px; font-weight: normal; margin-bottom: 1em; }

.screenshot {
	text-align: center; 
	margin: 2em 0;
}

	.screenshot img {
		padding: 2px;
		border: 1px solid #CCC;
	}